In [333]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import PolynomialFeatures

In [334]:
def removeValue(givenlist, valuelist):
    # Traverse the value list
    for value in valuelist:
       # using while loop to remove all occurrences of given value
        while(value in givenlist):
            # removing the value using remove()
            givenlist.remove(value)
           # return the list
    return givenlist

In [335]:
df = pd.read_csv("data/boligsiden_2.csv")

In [336]:
df.drop("Unnamed: 0", axis = 1, inplace = True)

In [337]:
df.drop("Unnamed: 0.1", axis = 1, inplace = True)

In [338]:
df

,addressType,basementArea,caseUrl,energyLabel,housingArea,lotArea,monthlyExpense,numberOfFloors,numberOfRooms,perAreaPrice,...,priceChangePercentage,yearBuilt,municipalityCode,numberOfBuildings,zipCode,municipality,latitude,longitude,basement,lot
0,villa,60.0,https://www.brikk.dk/ejendom/industrivej-2-662...,d,210.0,1233.0,1718,2.0,6.0,4629.0,...,0.00,1968.0,575,1,6622,Vejen,55.571290,9.146651,1,1
1,farm,0.0,https://www.estaldo.com/listing/22fa0be5-dd95-...,e,472.0,84093.0,2334,1.0,4.0,6345.0,...,0.00,1936.0,860,1,9800,Hjørring,57.416790,9.964815,0,1
2,villa,127.0,https://www.brikk.dk/ejendom/storegade-33-6640...,e,124.0,614.0,2169,3.0,5.0,9783.0,...,0.00,1945.0,621,1,6640,Kolding,55.479263,9.298074,1,1
3,villa,69.0,http://www.nybolig.dk/maegler/pages/property-p...,e,69.0,497.0,2415,2.0,2.0,23841.0,...,0.00,1946.0,400,1,3700,Bornholm,55.109230,14.709151,1,1
4,villa,80.0,https://www.danbolig.dk?propertyid=0950000496&...,c,179.0,1078.0,3634,2.0,5.0,31648.0,...,0.00,1961.0,630,1,7100,Vejle,55.694424,9.553193,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,villa,0.0,https://home.dk/sag/8010000572,c,143.0,1062.0,1658,2.0,4.0,4741.0,...,0.00,1900.0,813,1,9900,Frederikshavn,57.473946,10.481430,0,1
9996,villa,0.0,http://www.estate-maeglerne.dk/maegler/pages/p...,d,232.0,1214.0,6232,1.0,6.0,33174.0,...,0.00,1961.0,190,1,3500,Furesø,55.756330,12.415566,0,1
9997,villa,0.0,https://www.danbolig.dk?propertyid=0140000466&...,d,134.0,1027.0,1692,2.0,3.0,18058.0,...,0.00,1947.0,316,1,4340,Holbæk,55.593227,11.750100,0,1
9998,condo,0.0,https://www.danbolig.dk?propertyid=2100000090&...,a2010,95.0,0.0,3085,5.0,3.0,57842.0,...,-1.79,1989.0,101,1,2400,København,55.705082,12.531357,0,0
9999,holiday house,0.0,https://home.dk/sag/2100000610,NaN,92.0,74918.0,2893,2.0,4.0,21685.0,...,0.00,1979.0,400,1,3770,Bornholm,55.276905,14.760906,0,1

In [339]:
drop_list = ["caseUrl", "latitude", "longitude", "zipCode", "municipality", "perAreaPrice", "priceChangePercentage"]

In [340]:
X = df.drop(drop_list, axis = 1)

In [341]:
X.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

In [342]:
X = X.reset_index(drop=True)

In [343]:
X

,addressType,basementArea,energyLabel,housingArea,lotArea,monthlyExpense,numberOfFloors,numberOfRooms,priceCash,yearBuilt,municipalityCode,numberOfBuildings,basement,lot
0,villa,60.0,d,210.0,1233.0,1718,2.0,6.0,1148000,1968.0,575,1,1,1
1,farm,0.0,e,472.0,84093.0,2334,1.0,4.0,2995000,1936.0,860,1,0,1
2,villa,127.0,e,124.0,614.0,2169,3.0,5.0,2095000,1945.0,621,1,1,1
3,villa,69.0,e,69.0,497.0,2415,2.0,2.0,1645000,1946.0,400,1,1,1
4,villa,80.0,c,179.0,1078.0,3634,2.0,5.0,5665000,1961.0,630,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8670,terraced house,0.0,c,139.0,218.0,3759,2.0,4.0,3475000,1959.0,253,1,0,1
8671,villa,0.0,c,143.0,1062.0,1658,2.0,4.0,695000,1900.0,813,1,0,1
8672,villa,0.0,d,232.0,1214.0,6232,1.0,6.0,7995000,1961.0,190,1,0,1
8673,villa,0.0,d,134.0,1027.0,1692,2.0,3.0,2595000,1947.0,316,1,0,1
8674,condo,0.0,a2010,95.0,0.0,3085,5.0,3.0,5495000,1989.0,101,1,0,0

In [344]:
address_dummies = pd.get_dummies(X["addressType"])
energy_dummies = pd.get_dummies(X["energyLabel"])
municipality_dummies =  pd.get_dummies(X["municipalityCode"])

In [345]:
y = X["priceCash"]

In [346]:
X = X.drop("priceCash", axis = 1)

In [347]:
X_variables = X.columns.values.tolist()

In [348]:
X_variables = removeValue(X_variables, ["addressType", "energyLabel", "municipalityCode"])

In [349]:
X_variables

['basementArea',
 'housingArea',
 'lotArea',
 'monthlyExpense',
 'numberOfFloors',
 'numberOfRooms',
 'yearBuilt',
 'numberOfBuildings',
 'basement',
 'lot']

In [350]:
drop_list_2 = ["addressType", "energyLabel", "municipalityCode"]

X = X.drop(drop_list_2, axis = 1)

In [351]:
#X = pd.concat([X, pd.get_dummies(X["addressType"]), pd.get_dummies(X["energyLabel"]), pd.get_dummies(X["municipalityCode"])], axis=1)

In [352]:
X.numberOfBuildings.unique()

array([1], dtype=int64)

In [353]:
X = X.drop("numberOfBuildings", axis = 1) # drop number of buildings - those with more than one building (mostly farms) had NAN values for some variables

Dataframe X and DataFrames with Dummies

X

address_dummies

energy_dummies

municipality_dummies

In [354]:
X.columns = X.columns.astype(str)
address_dummies.columns = address_dummies.columns.astype(str)
energy_dummies.columns = energy_dummies.columns.astype(str)
municipality_dummies.columns = municipality_dummies.columns.astype(str)

In [355]:
address_dummies["basement"] = X.basement
address_dummies["lot"] = X.lot

In [356]:
X = X.drop(["basement", "lot"], axis = 1)

## 1. Only variables regarding the House itself

['basementArea',
 'housingArea',
 'lotArea',
 'monthlyExpense',
 'numberOfFloors',
 'numberOfRooms',
 'yearBuilt',
 'basement',
 'lot']

In [357]:
from sklearn.linear_model import LassoCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as mse
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

In [380]:
#X

In [359]:
poly = PolynomialFeatures(2, include_bias = False)
X_poly_int = poly.fit_transform(X)

In [360]:
X_poly_int = pd.DataFrame(X_poly_int, columns = poly.get_feature_names_out())

In [375]:
X_train, X_test, y_train, y_test = train_test_split(X_poly_int, y, test_size=.2, random_state=1)

"""pipe = make_pipeline(#PolynomialFeatures(interaction_only=True),
                    StandardScaler(),
                    LassoCV(max_iter = 10000))"""
scaler = StandardScaler()

X_train_sc = scaler.fit_transform(X_train)
X_test_sc = scaler.fit_transform(X_test)

# X_train_sc2 = scaler.transform(X_train_sc)
# X_test_sc2 = scaler.transform(X_test_sc)


reg = LassoCV(cv=5, random_state=0, max_iter = 10000).fit(X_train_sc, y_train)


y_pred = reg.predict(X_test_sc)

rmse_1 = np.sqrt(mse(y_pred, y_test))
score_1 = reg.score(X_train_sc, y_train)

In [377]:
rmse_1

1747939.2683861977

In [378]:
score_1

0.69747483140947

## address type dummies

In [381]:
address_dummies

,condo,cooperative,farm,full year plot,hobby farm,holiday house,terraced house,villa,villa apartment,basement,lot
0,0,0,0,0,0,0,0,1,0,1,1
1,0,0,1,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,1,0,1,1
3,0,0,0,0,0,0,0,1,0,1,1
4,0,0,0,0,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
8670,0,0,0,0,0,0,1,0,0,0,1
8671,0,0,0,0,0,0,0,1,0,0,1
8672,0,0,0,0,0,0,0,1,0,0,1
8673,0,0,0,0,0,0,0,1,0,0,1
8674,1,0,0,0,0,0,0,0,0,0,0

In [382]:
X_poly_int_address = pd.concat([X_poly_int, address_dummies], axis=1)

In [189]:
#poly = PolynomialFeatures(interaction_only=True, include_bias = False)
#X = poly.fit_transform(X)

#X = pd.DataFrame(X, columns = poly.get_feature_names_out())

#X = X.loc[:, (X != 0).any(axis=0)]

#X = X.loc[:,~X.apply(lambda x: x.duplicated(),axis=1).all()].copy() # this removes the duplicates of interaction terms

In [386]:
X_train, X_test, y_train, y_test = train_test_split(X_poly_int_address, y, test_size=.2, random_state=1)
scaler = StandardScaler()

X_train_sc = scaler.fit_transform(X_train)
X_test_sc = scaler.fit_transform(X_test)

# X_train_sc2 = scaler.transform(X_train_sc)
# X_test_sc2 = scaler.transform(X_test_sc)


reg = LassoCV(cv=5, random_state=0, max_iter = 10000).fit(X_train_sc, y_train)


y_pred = reg.predict(X_test_sc)

rmse_2 = np.sqrt(mse(y_pred, y_test))
score_2 = reg.score(X_train_sc, y_train)

X_train, X_test, y_train, y_test = train_test_split(X_poly_int_address, y, test_size=.2, random_state=1)

pipe = make_pipeline(#PolynomialFeatures(interaction_only=True),
                    StandardScaler(),
                    LassoCV(max_iter = 10000))
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

rmse_address = np.sqrt(mse(y_pred, y_test))

In [387]:
rmse_2

1677438.5819331682

In [388]:
score_2

0.7372850517407253

## Now also with energy codes

In [389]:
X_poly_int_address_energy = pd.concat([X_poly_int_address, energy_dummies], axis=1)

In [390]:
X_train, X_test, y_train, y_test = train_test_split(X_poly_int_address_energy, y, test_size=.2, random_state=1)
scaler = StandardScaler()

X_train_sc = scaler.fit_transform(X_train)
X_test_sc = scaler.fit_transform(X_test)

# X_train_sc2 = scaler.transform(X_train_sc)
# X_test_sc2 = scaler.transform(X_test_sc)


reg = LassoCV(cv=5, random_state=0, max_iter = 10000).fit(X_train_sc, y_train)


y_pred = reg.predict(X_test_sc)

rmse_3 = np.sqrt(mse(y_pred, y_test))
score_3 = reg.score(X_train_sc, y_train)

In [391]:
rmse_3

1659162.5717530884

In [392]:
score_3

0.744785439612457

#X = pd.concat([X, energy_dummies], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=1)

pipe = make_pipeline(#PolynomialFeatures(interaction_only=True),
                    StandardScaler(),
                    LassoCV(max_iter = 10000))
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

rmse_address_energy = np.sqrt(mse(y_pred, y_test))

rmse_address_energy

## Now with house variables, address type, energy and municipality

In [393]:
X_poly_int_address_energy_municipality = pd.concat([X_poly_int_address_energy, municipality_dummies], axis=1)

In [394]:
X_train, X_test, y_train, y_test = train_test_split(X_poly_int_address_energy_municipality, y, test_size=.2, random_state=1)
scaler = StandardScaler()

X_train_sc = scaler.fit_transform(X_train)
X_test_sc = scaler.fit_transform(X_test)

# X_train_sc2 = scaler.transform(X_train_sc)
# X_test_sc2 = scaler.transform(X_test_sc)


reg = LassoCV(cv=5, random_state=0, max_iter = 10000).fit(X_train_sc, y_train)


y_pred = reg.predict(X_test_sc)

rmse_4 = np.sqrt(mse(y_pred, y_test))
score_4 = reg.score(X_train_sc, y_train)

In [395]:
rmse_4

1504671.4533923788

In [396]:
score_4

0.8039550048457592

X = pd.concat([X, municipality_dummies], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=1)

pipe = make_pipeline(#PolynomialFeatures(interaction_only=True),
                    StandardScaler(),
                    LassoCV(max_iter = 10000))
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

rmse_address_energy_municipality = np.sqrt(mse(y_pred, y_test))

rmse_address_energy_municipality

In [226]:
#.coef_

In [204]:
poly = PolynomialFeatures(2, include_bias = False)
X = poly.fit_transform(X)

X = pd.DataFrame(X, columns = poly.get_feature_names_out())

X = X.loc[:, (X != 0).any(axis=0)]

X = X.loc[:,~X.apply(lambda x: x.duplicated(),axis=1).all()].copy() # this removes the duplicates of interaction terms

X = pd.concat([X, municipality_dummies], axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=1)

pipe = make_pipeline(#PolynomialFeatures(interaction_only=True),
                    StandardScaler(),
                    LassoCV(max_iter = 10000))
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

rmse_full_power = np.sqrt(mse(y_pred, y_test))

rmse_full_power

C:\Users\MZB\anaconda3\envs\ISDS\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:634: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4427393283204.0, tolerance: 4382880872312.298
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\MZB\anaconda3\envs\ISDS\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:634: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 11649384016318.0, tolerance: 4657733547796.466
  model = cd_fast.enet_coordinate_descent_gram(

1514911.080449193